In [1]:
import numpy as np
import pandas as pd
import scipy.stats as stats
import matplotlib.pyplot as plt
import math
import statsmodels.formula.api as smf
from sklearn.linear_model import LinearRegression

In [2]:
summary_history_df = pd.read_csv("Summary_Historic_moving_Averages_copy.csv")
summary_history_df.head()

,Unnamed: 0,Date,compound,Adj Close,Company,compound_m_avg 2,stock_closing_m_avg 2,compound_m_avg 5,stock_closing_m_avg 5
0,0,11/1/17,0.042015,166.292206,@Apple,NaN,NaN,NaN,NaN
1,1,11/2/17,-0.024569,167.507828,@Apple,0.008723,166.900017,NaN,NaN
2,2,11/3/17,0.002326,171.882111,@Apple,-0.011122,169.694970,NaN,NaN
3,3,11/6/17,-0.018984,173.625839,@Apple,-0.008329,172.753975,NaN,NaN
4,4,11/7/17,-0.026920,174.183823,@Apple,-0.022952,173.904831,-0.005226,170.698361

In [3]:
handles = ["@Apple", "@Visa", "@amazon", "@Walmart",'@netflix','@Nike','@Macys']
rsquared_list = []

In [4]:
for handle in handles:
    handle = summary_history_df.loc[summary_history_df["Company"] == handle, :]

    x_value_handle = handle["Adj Close"]
    y_value_handle = handle["compound"]

    lm_handle = smf.ols(formula="x_value_handle ~ y_value_handle", data=handle).fit()
    
    print(lm_handle.rsquared)
    rsquared_list.append(lm_handle.rsquared)
    #print(lm_handle.summary())

0.0160542639865
0.0308919809855
0.0482324846858
0.00505736609934
0.000824809467815
0.00681331107934
0.140708925626

In [5]:
regression_analysis = pd.DataFrame({
    "Companies": handles, 
    "R-Squared Value": rsquared_list
})
regression_analysis

  Companies  R-Squared Value
0    @Apple         0.016054
1     @Visa         0.030892
2   @amazon         0.048232
3  @Walmart         0.005057
4  @netflix         0.000825
5     @Nike         0.006813
6    @Macys         0.140709

In [6]:
# print(lm.params)
# print()
# print(lm.pvalues)
# print()
# print(lm.rsquared)
# print()