In [1]:
import numpy as np
import pandas as pd
import scipy.stats as stats
import matplotlib.pyplot as plt
import math
import os

In [23]:
summary_history_df = pd.read_csv("Summary_Historic_moving_Averages.csv")
summary_history_df.head()

,Unnamed: 0,Date,compound,Adj Close,Company,compound_m_avg 2,stock_closing_m_avg 2,compound_m_avg 5,stock_closing_m_avg 5
0,0,2017-11-01,0.042015,166.292206,@Apple,NaN,NaN,NaN,NaN
1,1,2017-11-02,-0.024569,167.507828,@Apple,0.008723,166.900017,NaN,NaN
2,2,2017-11-03,0.002326,171.882111,@Apple,-0.011122,169.694970,NaN,NaN
3,3,2017-11-06,-0.018984,173.625839,@Apple,-0.008329,172.753975,NaN,NaN
4,4,2017-11-07,-0.026920,174.183823,@Apple,-0.022952,173.904831,-0.005226,170.698361

In [17]:
apple = summary_history_df.loc[summary_history_df["Company"] == "@Apple", :]
apple.head()

,Unnamed: 0,Date,compound,Adj Close,Company,compound_m_avg 2,stock_closing_m_avg 2,compound_m_avg 5,stock_closing_m_avg 5
0,0,2017-11-01,0.042015,166.292206,@Apple,NaN,NaN,NaN,NaN
1,1,2017-11-02,-0.024569,167.507828,@Apple,0.008723,166.900017,NaN,NaN
2,2,2017-11-03,0.002326,171.882111,@Apple,-0.011122,169.694970,NaN,NaN
3,3,2017-11-06,-0.018984,173.625839,@Apple,-0.008329,172.753975,NaN,NaN
4,4,2017-11-07,-0.026920,174.183823,@Apple,-0.022952,173.904831,-0.005226,170.698361

In [16]:
apple.iloc[0, 2]

0.042014999999999803

In [20]:
# Groupby
groupby_company = summary_history_df.groupby(["Company"])
company_avg = groupby_company.mean()
company_avg

,Unnamed: 0,compound,Adj Close,compound_m_avg 2,stock_closing_m_avg 2,compound_m_avg 5,stock_closing_m_avg 5
Company,,,,,,,
@Apple,9.5,0.007755,172.217526,0.007749,172.445496,0.005501,172.704878
@Macys,9.5,0.391670,19.936000,0.399854,19.855526,0.437829,19.758250
@Nike,9.5,0.091222,57.140728,0.092249,57.120558,0.090992,57.075320
@Visa,9.5,0.063364,111.299942,0.065274,111.349056,0.062551,111.298134
@Walmart,9.0,0.149182,92.934737,0.143954,92.945001,0.148524,92.971067
@amazon,9.0,0.168841,1135.032638,0.167100,1135.174727,0.166211,1133.681740
@netflix,9.5,0.116251,195.605500,0.114388,195.738684,0.112180,195.430625

In [22]:
companies = [company_avg.index.values]
companies

[array(['@Apple', '@Macys', '@Nike', '@Visa', '@Walmart', '@amazon',
        '@netflix'], dtype=object)]

In [28]:
company_avg.iloc[0, 1], company_avg.iloc[0, 2]

(0.0077546999999999807, 172.21752624999999)

In [43]:
apple_compound = company_avg.get_value("@Apple", "compound", takeable=False)
apple_compound

apple_close = company_avg.get_value("@Apple", "Adj Close", takeable=False)
apple_close

172.21752624999999

In [44]:
ttest = stats.ttest_ind(apple_compound, apple_close, equal_var=False)
ttest

/Users/Ashley/anaconda3/envs/py36/lib/python3.6/site-packages/numpy/core/fromnumeric.py:3146: RuntimeWarning: Degrees of freedom <= 0 for slice
  **kwargs)
/Users/Ashley/anaconda3/envs/py36/lib/python3.6/site-packages/numpy/core/_methods.py:127: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

Ttest_indResult(statistic=nan, pvalue=nan)

In [33]:
counter = 0
for i in range(0, 8):  
    counter = counter+1
    ttest = stats.ttest_ind(company_avg["compound"]+i, company_avg["Adj Close"]+i, equal_var=False)
    print(ttest)

Ttest_indResult(statistic=-1.7154550728873088, pvalue=0.13708244533648806)
Ttest_indResult(statistic=-1.7154550728873088, pvalue=0.13708244533648806)
Ttest_indResult(statistic=-1.715455072887309, pvalue=0.13708244533648806)
Ttest_indResult(statistic=-1.715455072887309, pvalue=0.13708244533648806)
Ttest_indResult(statistic=-1.7154550728873088, pvalue=0.13708244533648806)
Ttest_indResult(statistic=-1.715455072887309, pvalue=0.13708244533648806)
Ttest_indResult(statistic=-1.7154550728873088, pvalue=0.13708244533648806)
Ttest_indResult(statistic=-1.7154550728873088, pvalue=0.13708244533648806)

In [31]:
ttest_all = stats.ttest_ind(company_avg["compound"], company_avg["Adj Close"], equal_var=False)
ttest_all

Ttest_indResult(statistic=-1.7154550728873088, pvalue=0.13708244533648806)